{% extends "base.html" %}

{% block nav_campaign %}selected bg-body-secondary" aria-current="page"{% endblock nav_campaign %}

{% block main %}
<h1>Campagna</h1>
{{ code }}
{% if player == "DUNGEONMASTER" %}
<button type="button" onclick="delete_campaign()">Elimina campagna</button>
{% endif %}
{% endblock main %}

{% block script %}
<script>
function delete_campaign() {
    if (confirm("Sei sicuro di voler cancellare la campagna? Non potrai tornare indietro.")) {
        $.ajax({
            url: "{{ url_for('api.delete_campaign')}}",
            data: {
                'Code': "{{ code }}",
                'Token': "{{ token }}"
            },
            type: "POST",
            dataType: "json"
        })
        .done(function (response) {
            if (response.code == 401) {
                let error = $('<div id="alert"></div>').text(response.status)
                error.replaceAll("#alert", error)
            } else if (response.code == 200) {
                alert("La tua campagna è stata cancellata!")
                window.location.href = "{{ url_for('profile') }}"
            }
        })
        .fail(function (code, status) {
            let error = $('<div id="alert">d/div>').text('There was an error processing your request:' + code + ' : ' + JSON.stringify(status));
            error.replaceAll("#alert", error)
        })
    }
}
</script>
{% endblock script %}