{% extends "base.html" %}

{% block nav_login %}selected bg-body-secondary" aria-current="page"{% endblock nav_login %}

{% block main %}
<h1>Login</h1>
<form id="login">
    <span>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username...">
    </span>
    <span>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password...">
    </span>
    <button type="button" onclick="login()">Registrati</button>
</form>
<p>Non hai un account? Crealo <a href="{{ url_for('sign_in') }}">QUI!</a></p>
{% endblock main %}

{% block script %}
<script>
    function login() {
        let userName = $("#username").val();
        let password = $("#password").val();
        $.ajax({
            url: "{{ url_for('api.login') }}",
            data: {
                'UserName': userName,
                'Pwd': password,
                'Token': "{{ token }}"
            },
            type: "POST",
            dataType: "json"
        })
            .done(function (response) {
                console.log(response)
                window.location.href = "{{ url_for('profile') }}"
            })
            .fail(function (data, errType) {
                console.log(data)
                error_message(data, errType)
            });
    }
</script>
{% endblock script %}