{% extends "base.html" %}

{% block nav_login %}selected bg-body-secondary" aria-current="page"{% endblock nav_login %}

{% block main %}
<h1>Login</h1>
<form id="login">
    <span>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username...">
    </span>
    <span>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password...">
    </span>
    <button type="button" onclick="login()">Registrati</button>
</form>
<p>Non hai un account? Crealo <a href="{{ url_for('sign_in') }}">QUI!</a></p>
<script>
    function login() {
        let userName = $("#username").val();
        let password = $("#password").val();
        $.ajax({
            url: "{{ url_for('api.login') }}",
            data: {
                'UserName': userName,
                'Pwd': password
            },
            type: "POST",
            dataType: "json"
        })
            .done(function (response) {
                if (response.code == 401) {
                    let error = $('<div id="alert"></div>').text(response.status)
                    error.replaceAll("#alert", error)
                } else if (response.code == 200) {
                    window.location.href = "{{ url_for('profilo') }}"
                }
            })
            .fail(function (code, status) {
                let error = $('<div id="alert">d/div>').text('There was an error processing your request:' + toString(code) + ' : ' + toString(JSON.stringify(status)));
                error.replaceAll("#alert", error)
            });
    }
</script>
{% endblock main %}