{% extends "base.html" %}

{% block nav_profile %}selected bg-body-secondary" aria-current="page"{% endblock nav_profile %}

{% block main %}
<h1>Profilo</h1>
<h2>Nome: {{ session["UserName"] }}</h2>

<form id="join-campaign">
    <label for="code">Codice invito:</label>
    <input type="text" name="code" id="code" placeholder="Codice...">
    <button type="submit" onclick="event.preventDefault(); join_campaign();">Unisciti a una campagna!</button>
</form>

<form id="create-campaign">
    <label for="code">Nome campagna:</label>
    <input type="text" name="nome" id="nome" placeholder="Nome campagna...">
    <button type="submit" onclick="event.preventDefault(); create_campaign();">Crea una nuova campagna!</button>
</form>
{% endblock main %}

{% block script %}
<script>
    function create_campaign() {
        const name = $("#nome").val();
        if (name === "") {
            alert("Non hai inserito un nome per la campagna")
        } else {
            $.ajax({
                url: "{{ url_for('api.create_campaign') }}",
                data: {
                    "Name": name,
                    'Token': "{{ token }}"
                },
                type: "POST",
                dataType: "json"
            })
                .done(function (response) {
                    window.location.href = response.redirect;
                })
                .fail(function (code, status) {
                    error_message(data, errType);
                })
        }
    }

    function join_campaign(event) {
        const code = $("#code").val();
        if (code === "") {
            alert("Non hai inserito un codice per la campagna")
        } else {
            window.location.href = `{{ url_for('join_campaign', code=0) }}`.replace("0", code)
        }
    }
</script>
{% endblock script %}