{% extends "base.html" %}

{% block nav_sign_in %}selected bg-body-secondary" aria-current="page"{% endblock nav_sign_in %}

{% block main %}
<h1>Sign in</h1>
<form id="sign-in">
    <span class="row mx-0 my-2">
        <label class="col-2 form-label p-2 m-2" for="username">Username:</label>
        <input class="col form-control m-2" type="text" name="username" id="username" placeholder="Username...">
    </span>
    <span class="row mx-0 my-2">
        <label class="col-2 form-label p-2 m-2" for="password">Password:</label>
        <span class="col p-0 m-2 d-flex">
            <input class="form-control" type="password" name="password" id="password" placeholder="Password...">
            <button onclick="toggle_password('password')" class="toggle-password btn m-0" type="button"
                id="password-toggler">
                <i class="bi bi-eye-fill"></i>
            </button>
        </span>
    </span>
    <span class="row mx-0 my-2">
        <label class="col-2 form-label p-2 m-2" for="password-repeat">Ripeti password:</label>
        <span class="col p-0 m-2 d-flex">
            <input class="form-control" type="password" name="password-repeat" id="password-repeat"
                placeholder="Ripeti password...">
            <button onclick="toggle_password('password-repeat')" class="toggle-password btn m-0" type="button"
                id="password-repeat-toggler">
                <i class="bi bi-eye-fill"></i>
            </button>
        </span>
    </span>
    <span class="d-flex justify-content-between">
        <p>Non hai un account? Crealo <a href="{{ url_for('sign_in') }}">QUI!</a></p>
        <button class="btn btn-primary m-2 p-2" type="submit" onclick="event.preventDefault(); sign_in()">Registrati</button>
    </span>
</form>
{% endblock main %}

{% block script %}
<script>
    function sign_in() {
        let userName = $("#username").val();
        let password = $("#password").val();
        let password_repeat = $("#password-repeat").val();
        $.ajax({
            url: "{{ url_for('api.sign_in') }}",
            data: {
                'UserName': userName,
                'Pwd': password,
                'PwdRepeat': password_repeat,
                'Token': "{{ token }}"
            },
            type: "POST",
            dataType: "json"
        })
            .done(function (response) {
                window.location.href = "{{ url_for('profile') }}";
            })
            .fail(function (data, errType) {
                error_message(data, errType);
            });
    }
</script>
{% endblock script %}