{% extends "base.html" %}

{% block nav_sign_in %}selected bg-body-secondary" aria-current="page"{% endblock nav_sign_in %}

{% block main %}
<h1>Sign in</h1>
<form id="sign-in">
    <span>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username...">
    </span>
    <span>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password...">
    </span>
    <span>
        <label for="password-repeat">Ripeti password</label>
        <input type="password" name="password-repeat" id="password-repeat" placeholder="Ripeti password...">
    </span>
    <button type="button" onclick="sign_in()">Registrati</button>
</form>
{% endblock main %}

{% block script %}
<script>
    function sign_in() {
        let userName = $("#username").val();
        let password = $("#password").val();
        let password_repeat = $("#password-repeat").val();
        $.ajax({
            url: "{{ url_for('api.sign_in') }}",
            data: {
                'UserName': userName,
                'Pwd': password,
                'PwdRepeat': password_repeat,
                'Token': "{{ token }}"
            },
            type: "POST",
            dataType: "json"
        })
            .done(function (response) {
                console.log(response)
                window.location.href = "{{ url_for('profile') }}"
            })
            .fail(function (data, errType) {
                console.log(data)
                let error = $('<div id="alert">d/div>').text('There was an error processing your request! Code: '+data.status+": "+data.statusText+". Error Type: "+errType+". Description: "+data.responseJSON.description);
                error.replaceAll("#alert", error)
            });
    }
</script>
{% endblock script %}